/* Thème sombre */

body.dark-theme {
    background-color: #2a4e62;
    background-image: linear-gradient(315deg, #001C2F 0%, rgba(1, 152, 117, 0) 100%);
}

body.dark-theme .app-content {
    // background-color: #0b4555;
    background-color: #2a4e62;
    background-image: linear-gradient(315deg, #001C2F 0%, rgba(1, 152, 117, 0) 100%);
}

body.dark-theme .btn-primary {
    background-color: #2a769f;
    color: var(--color-primary);
    font-weight: 600;
}

body.dark-theme .btn-primary-stroke {
    border: 1px solid #26a5c8;
    color: #26a5c8;
    background-color: white;
}

body.dark-theme .sidebar-nav a i {
    color: white;
}

body.dark-theme .active {
    border-left: 5px solid #26a5c8;
    background-color: #4a7f8e;
    color: white;
}

body.dark-theme .block {
    padding: 15px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: white;
    background-color: #4a7f8e;
    background-image: linear-gradient(315deg, #134362 0%, rgba(1, 152, 117, 0) 100%);
}

body.dark-theme .clickable {
    color: #2A4E62;
}

body.dark-theme .rating-up {
    color: #2A4E62;
}

body.dark-theme h1, h2, h3, h4, h5 {
    color: #72cfe9;
}

body.dark-theme a.active {
    color: white;
}

body.dark-theme a {
    color: #72cfe9;
}

body.dark-theme p {
    color: white;
}

body.dark-theme p.clickable {
    color: #72cfe9;
}

body.dark-theme footer {
    background-color: #2c546a;
    background-image: linear-gradient(315deg, #001C2F 0%, rgba(1, 152, 117, 0) 100%);
}

body.dark-theme .rating-up {
    color: #00ffdd;
}

body.dark-theme .rating-down {
    color: var(--warning);
}

body.dark-theme span.clickable {
    color: white;
}

body.dark-theme .header-search-result {
    background-color: #4a7f8e;
    background-image: linear-gradient(315deg, #134362 0%, rgba(1, 152, 117, 0) 100%);
    a {
        color: white !important;
    }
}
